<ul class="list-group">
    <a href="{% url 'report-fecha' %}" class="list-group-item text-dark">
        Pedido Por Fecha
    </a>
    <a href="{% url 'report--entre-fecha' %}" class="list-group-item text-dark">
        Pedido Entre Fechas
    </a>
    <a href="{% url 'report-list-vehiculos' %}" class="list-group-item text-dark">
        Pedidos Vehiculo
    </a>
    <a href="{% url 'report-list-clientes' %}" class="list-group-item text-dark">
        Pedidos Cliente
    </a>
    <a href="{% url 'report-pedido-anual' %}" class="list-group-item text-dark">
        Pedidos Anuales
    </a>
    <a href="{% url 'report-pedido-mensual' %}" class="list-group-item text-dark">
        Pedidos Mensuales
    </a>
</ul>