{% extends 'base.html' %}

{% block title %}
Pedidos en la gestion {{ fecha.year }}
{% endblock %}

{% block menuizq %}
{% include 'reportes/__menu.html' %}
{% endblock %}

{% block content %}
{% load helper_reportes %}
<div class="row">
    <div class="col-md-6">
        {% include 'includes/__form_get.html' %}
    </div>
<div class="col-md-6"></div>
</div>
<h3>Pedidos en la Gestion: {{ fecha.year }}</h3>
<a href="{% url 'report-pedido-anual-pdf' fecha.year %}" class="btn btn-primary" target="_blank">
    <i class="fas fa-file-pdf"></i> Ver PDF
</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Hora</th>
            <th>Cliente</th>
            <th>Conductor</th>
            <th>Costo(Bs.)</th>
        </tr>
    </thead>
    <tbody>
        {% for pedidovehiculo in pedidovehiculos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ pedidovehiculo.pedido.time }}</td>
                <td>{{ pedidovehiculo.pedido.cliente.razon }}</td>
                <td>{{ pedidovehiculo.conductor }}</td>
                <td>{{ pedidovehiculo.pedido.monto }}</td>
            </tr>
        {% endfor %}
    </tbody>
    {% monto_total pedidovehiculos as total %}
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th>Total</th>
            <td>{{ total }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}