<ul class="list-group">
    <a href="{% url 'pedidos-new-cliente' %}" class="list-group-item text-dark">
        Nuevo Pedido
    </a>
    <a href="{% url 'pedidos-confirmados' %}" class="list-group-item text-dark">
        Pedidos Confirmados
    </a>
    <a href="{% url 'pedidos-rechazados' %}" class="list-group-item text-dark">
        Pedidos Rechazados
    </a>
    <a href="{% url 'pedidos-aceptados' %}" class="list-group-item text-dark">
        Pedidos Aceptados
    </a>
    <a href="{% url 'pedidos-terminados' %}" class="list-group-item text-dark">
        Pedidos Terminados
    </a>
</ul>