{% extends 'base.html' %}

{% block title %}
Pedidos Rechazados
{% endblock %}

{% block menuizq %}
{% include 'pedidos/__menu.html' %}
{% endblock %}

{% block content %}
<h3>Pedidos Rechazados</h3>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Cliente</th>
                <th>CI/NIT</th>
                <th>Dirección</th>
                <th>Cantidad Moviles</th>
                <th>Vehiculos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ pedido.fecha|date:"d-M-Y" }}</td>
                    <td>{{ pedido.time|time }}</td>
                    <td>{{ pedido.cliente.razon }}</td>
                    <td>{{ pedido.cliente.cinit }}</td>
                    <td>{{ pedido.direccion }}</td>
                    <td>{{ pedido.cantidad }}</td>
                    <td>
                        {% for pconductor in pedido.pedidovehiculo_set.all %}
                            <p>
                                {{ pconductor.conductor }}: {{ pconductor.conductor.vehiculo.placa }}
                            </p>
                        {% endfor %}
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}